#removebutton {
    color : white;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--background); /*reference from themes*/
    color: var(--text)  /*reference from themes*/
}